@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary-moderate-blue: hsl(236, 72%, 79%);
  --color-primary-vibrant-blue: hsl(237, 63%, 64%);
  --color-neutral-very-light-grayish-blue: hsl(240, 78%, 98%);
  --color-neutral-grayish-blue: hsl(234, 14%, 74%);
  --color-neutral-dark-grayish-blue: hsl(232, 13%, 33%);
  --color-neutral-slate-grayish-blue: hsla(232, 13%, 49%, 1);
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
  }

  body {
    @apply relative flex flex-col w-full items-center justify-center text-base font-normal
      font-montserrat bg-neutral-very-light-grayish-blue text-neutral-dark-grayish-blue;
  }

  body::before {
    content: "";
    background-image: url(./assets/images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    top: -32%;
    right: -47%;
    width: 100vw;
    height: 100%;
    z-index: -1;
  }
  .card-container button {
    @apply text-[13px] font-bold text-white uppercase text-center tracking-[1.39px] bg-neutral-grayish-blue px-6 py-2 w-full rounded-md;
  }

  @media (min-width: 768px) {
    body::before {
      right: 0%;
      top: 0%;
    }

    body::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(./assets/images/bg-bottom.svg);
      background-repeat: no-repeat;
      background-position: bottom left;
      z-index: -1;
    }
  }
}

@layer components {
  .card {
    @apply relative max-w-full w-[350px] mx-auto bg-white rounded-lg shadow-md p-6 flex flex-col items-center gap-6 justify-center text-center;
  }
}
